<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h1>
    main-page
</h1>
<h2>
    {%for i in products%}
    <h1>
      name:  {{i.Title}}
        </h1>

    <h1>
      Price:  {{i.Price}}
        </h1>
    <h1>
      stock:  {{i.Stock}}
    </h1>
    <h1>
      content:  {{i.Content}}
    </h1>
    <h1>
       Created: {{i.Time_created}}
    </h1>
    <h1>
      updated:  {{i.Last_update}}
    </h1>
    <br>

    <hr>


    {% endfor %}
</h2>
</body>
</html>